* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
span {
    margin: 0;
    padding: 0;
}

/***********************   Common CSS END   ************************/

#banner {
    background: rgb(163, 101, 223);
    background: linear-gradient(45deg, rgba(163, 101, 223, 1) 33%, rgba(129, 0, 255, 1) 100%);
    width: 100%;
    height: 600px;
    position: relative;
}

#banner img {
    position: absolute;
    right: 25px;
    top: 25px;
}

.bannderBody {
    display: flex;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 1200px;
    height: 600px;
    border-top-right-radius: 40%;
    background-color: white;
    border: 2px solid #b1536d;
}
.bannerText {
   width: 600px;
   background-color: aqua;
   height: 100%;
}

.bannerImg {
    background-image: url(../images/banner.jpg);
    z-index: 99;
    background-position: center;
    background-size: cover;
}