* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
span {
    margin: 0;
    padding: 0;
}


/***********************   Common CSS END   ************************/

/* S-Variables  */
:root {
    --purple: #8100ff;
    --pink: #b1536d;
    --light-pink: #ae6377;
    --blue: #2b4191;
    --dark-blue: #211b41;
    --gray: #6c6c6c;
    --black: #0b0b0b;
    --white: #efefef;
    --iconColor: #00eeff;
    --font1: 'Lato', sans-serif;
    --font2: 'Montserrat', sans-serif;
    --font3: 'Roboto', sans-serif;
}

/* E-Variables  */

/* S-Container */
#container {
    max-width: 1200px;
    margin: auto;
    background-color: #fbfbfb;
}

/* E-Container */

/* S- Body  */
body {
    background-color: #D9D9D9;

}

/* E- Body  */


section {
    /* padding: 50px 0 50px 0; */
    border: #c77c31 dotted 1px;
}

/* S-Banner Part  */

#banner {
    background: linear-gradient(45deg, rgba(163, 101, 223, 1) 33%, rgba(129, 0, 255, 1) 100%);
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 150px;
}

#banner img {
    position: absolute;
    right: 25px;
    top: 25px;
}

.bannderBody {
    background-image: url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    left: 50px;
    width: calc(100% - 150px);
    height: 600px;
    border-top-right-radius: 30%;
    background-color: var(--white);


}

.bannerText {
    width: 750px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
    height: 600px;
    padding: 150px 30px 0px 50px
}

.bannerText h1 {
    font-family: var(--font1);
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0 20px 0px;
    color: var(--dark-blue);
}

.bannerText h1 span {
    color: var(--purple);
}

.bannerText h2 {
    margin: 20px 0 0 0px;
    font-family: var(--font1);
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 25px;
}

.bannerText h5 {
    font-size: 15px;
    font-family: var(--font1);
    color: var(--blue);
    font-weight: 700;
}

.bannerText h5 i {
    color: var(--pink);
    padding: 10px;
    font-size: 20px;
    background-color: rgba(177, 83, 110, 0.3);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.bannerText .description {
    color: var(--gray);
    font-family: var(--font2);
}

.bannerText .description {
    width: 80%;
    font-family: var(--font1);
    line-height: 25px;
    font-size: 15px;
    font-weight: 600;
}

/* E-Banner Part  */

/* S-What Doing  */

#whatDoing {
    padding-bottom: 150px;
    /* background-color: #969595; */
}

.whatDoingImg {
    width: 100%;
    position: relative;
}

.whatDoingImg .wd1 {
    width: 280px;
    height: 300px;
    position: absolute;
    right: 100px;
    top: 150px;
    z-index: 99;
}

.whatDoingImg .wd2 {
    width: 380px;
    height: 400px;
    position: absolute;
    right: 120px;
    top: 80px;
}

.whatDoingText {
    margin-top: 100px;
    position: relative;
}

.whatDoingText .title {
    font-family: var(--font1);
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    font-style: oblique;
    text-align: center;
    width: 450px;
}

.whatDoingText .text {
    font-family: var(--font1);
    color: var(--gray);
    line-height: 35px;
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0 0 50px;
    width: 450px;
}

.whatDoingText .text span {
    color: var(--purple);
    font-weight: 700;
    padding: 4px;
    font-style: oblique;
}

.whatDoingText .destinyLogo {
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: -150px;
    left: 25px;
    transform: rotate(-15deg);
}

/* E-What Doing  */




/* S-Meal Spa  */
.mealSection {
    background-color: #D9D9D9;
    width: 70%;
    height: 300px;
    border-radius: 20px !important;
    color: #0b0b0b;
    padding: 25px;
    display: flex;
    margin: 70px 0 50px 70px;
}

.mealSection img {
    width: 400px;
    border-radius: 10px;
    display: inline-block;
    font-family: var(--font3);
}

.mealDescrition {
    margin-left: 50px;
}

.mealDescrition h2 {

    font-family: var(--font2);
    font-weight: 700;
    margin-bottom: 50px;
}

.mealDescrition p {
    font-size: 20px;
    font-family: var(--font2);
    font-weight: 700;
    text-align: left;
}

.spa {
    margin-left: 60%;
    transform: translateX(-50%);
}

.spa p {
    margin-top: -20px;
    font-size: 20px;
}


/* E-Meal Spa  */

/* S-Other Activites  */
#otherActivites {
    text-align: center;
    padding: 70px 200px 70px 200px;
    background-color: var(--dark-blue);
    color: #fff;
}

#otherActivites h3 {
    font-family: var(--font3);
    font-size: 50px;
    text-shadow: 0px 0px 10px var(--pink);
}

#otherActivites p {
    font-family: var(--font3);
    font-size: 25px;

}

#otherActivites p .ohyah {
    display: block;
    font-size: 30px;
}

#otherActivites p .sachin {
    font-size: 30px;
    font-family: var(--font1);
    font-weight: 700;
    font-style: italic;
    text-shadow: 0px 0px 10px var(--pink);
    padding-right: 5px;
}



/* E-Other Activites  */

/* S- How to get there  */

#map {
    max-width: 100%;
    text-align: center;
    height: 900px;
    overflow: hidden;
}

.mapSection {
    display: flex;
    box-shadow: 0px 0px 5px 5px rgba(33, 27, 65, 0.5);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(33, 27, 65, 0.5);
    -moz-box-shadow: 0px -0px 5px 5px rgba(33, 27, 65, 0.5);
}

#map h2 {
    font-family: var(--font2);
    font-weight: 700;
    font-size: 40px;
    padding: 50px 0 50px 0px;
}

#map .mapSection .gmap iframe {
    width: 600px;
    height: 600px;
    order: 1;
    z-index: 99;
    margin: 0;
}

.mapDetails {
    order: 2;
    margin-right: -212px;
    position: relative;
}

.mapDetails .carousel-caption h5 {
    position: absolute;
    margin: 0;
    padding: 0;
}


/* E- How to get there  */


/* S-Contact */

#contactList {
    display: flex;
    flex-wrap: nowrap;
}

.contacts {
    text-align: left;
    padding: 50px;
    width: 50%;
    background-color: var(--blue);
    color: var(--white);
    position: relative;
}

.contacts::after {
    content: "";
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 95px;
    right: 95px;
    background-image: url(../images/contactsEllipse.png);
    z-index: 99;
    aspect-ratio: 1/1;
    transform: scale(2);
    opacity: .75;
}

.contacts::before {
    content: "";
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-image: url(../images/contactsRect.png);
    z-index: 98;
    aspect-ratio: 1/1;
    transform: scale(3);
}

.contactsLinks {
    color: #fff;
    font-family: var(--font1);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.contactsSub {
    color: var(--iconColor);
    font-family: var(--font3);
    font-size: 15px;
}

.contacts ul {
    margin: 20px 0 20px 0;
}

.contacts ul li i {
    color: var(--iconColor);
    padding: 10px;
    font-size: 25px;
}

.contacts ul li {
    text-align: left;
    padding: 5px;
}

.contacts ul li a {
    color: var(--white);
    line-height: 25px;
    font-family: var(--font3);
}

/* E-Contacts  */

/* S-List */
.itemList {
    text-align: left;
    padding: 50px;
    width: 50%;
    background-color: var(--white);
    color: var(--black);
    position: relative;
}

.itemList::after {
    content: "";
    background-size: cover;
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 150px;
    right: 120px;
    background-image: url(../images/itemPattern.png);
    z-index: 80;
    aspect-ratio: 1/.6;
    transform: scale(1.3);
}

.itemList::before {
    content: "";
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-image: url(../images/itemShape.png);
    z-index: 90;
    aspect-ratio: 1/1;
    transform: scale(1.5);
}

.listItemHeader {
    font-family: var(--font2);
    font-size: 30px;
    font-weight: 900;
}

.itemList ol {
    list-style: decimal;
    margin: 20px 0 0 20px;
}

.itemList ol li {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font3);
    line-height: 40px;
    font-style: oblique;
    z-index: 99;
}

.itemList ol li:nth-child(odd) {
    color: var(--blue);
}

/* E-List */

/* S-Comments  */

.slider-92911 {
    position: relative; }
  
  /* Carousel 4*/
  .testimony-29101 .image {
    width: 40%;
    background-size: cover;
    background-position: center center; }
    @media (max-width: 991.98px) {
      .testimony-29101 .image {
        height: 300px; } }
  
  .testimony-29101 .text {
    width: 60%;
    padding: 7rem 4rem;
    background: #007bff; }
    .testimony-29101 .text blockquote {
      position: relative;
      padding-bottom: 50px;
      font-size: 20px; }
      .testimony-29101 .text blockquote p {
        color: #fff;
        line-height: 1.8; }
      .testimony-29101 .text blockquote .author {
        font-size: 16px;
        letter-spacing: .1rem;
        position: absolute;
        bottom: 0;
        color: rgba(255, 255, 255, 0.7); }
  
  @media (max-width: 991.98px) {
    .testimony-29101 .image, .testimony-29101 .text {
      width: 100%;
      display: block !important; } }
  
  .slide-one-item {
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
    @media (max-width: 991.98px) {
      .slide-one-item .owl-nav {
        display: none; } }
    .slide-one-item .owl-nav .owl-prev,
    .slide-one-item .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #000; }
      .slide-one-item .owl-nav .owl-prev span,
      .slide-one-item .owl-nav .owl-next span {
        font-size: 30px; }
      .slide-one-item .owl-nav .owl-prev:hover,
      .slide-one-item .owl-nav .owl-next:hover {
        color: #000; }
      .slide-one-item .owl-nav .owl-prev:active, .slide-one-item .owl-nav .owl-prev:focus,
      .slide-one-item .owl-nav .owl-next:active,
      .slide-one-item .owl-nav .owl-next:focus {
        outline: none; }
    .slide-one-item .owl-nav .owl-prev {
      left: 20px; }
    .slide-one-item .owl-nav .owl-next {
      right: 20px; }
    .slide-one-item .owl-dots {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      z-index: 2; }
      .slide-one-item .owl-dots .owl-dot {
        display: inline-block; }
        .slide-one-item .owl-dots .owl-dot > span {
          -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          display: inline-block;
          width: 15px;
          height: 3px;
          background: rgba(0, 123, 255, 0.4);
          margin: 3px; }
        .slide-one-item .owl-dots .owl-dot.active > span {
          width: 15px;
          background: #007bff; }
  
  .thumbnail {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateY(50%) translateX(-50%);
    -ms-transform: translateY(50%) translateX(-50%);
    transform: translateY(50%) translateX(-50%);
    z-index: 99; }
    .thumbnail li {
      display: inline-block; }
      .thumbnail li a {
        display: block;
        margin: 4px; }
        .thumbnail li a img {
          width: 50px;
          border-radius: 50%;
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
      .thumbnail li.active a img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }
/* E-Comments    */
