
    /* Laptop 1024px */
    @media (min-width: 1024px) {

        .bannderBody {
            border-top-right-radius: 16% !important;
        }
        #banner img {
            top: 0 !important;
            transform: scale(.8) !important
        }
        .mapDetails {
            margin-right: -384px !important;
            position: relative;
        }
        .mapDetails .carousel-caption h5 {
            display: none;
        }
    }
    
    
    /* Tablet 768px. */
    @media (min-width: 768px) and (max-width: 1023px) {
        .bannderBody {
            border-top-right-radius: 0% !important;
        }
        #banner img {
             z-index: 99 !important;
             top: 0 !important;
             left: 50%;
             transform: translateX(-50%) scale(.7);
             border-radius: 5px;
        }
        .bannerText {
            text-align: center;
            width: 650px !important;
            -webkit-clip-path: none !important;
            clip-path: none !important;
            height: 600px !important;
            padding: 100px 30px 0px 50px !important;
        }

        .bannderBody {
            width: calc(100% - 120px) !important;
        }
        .bannerText .description {
            width: 90% !important;
            font-family: var(--font1);
            line-height: 25px;
            font-size: 15px;
            font-weight: 600;
        }

        #CountDown {

            width: 600px !important;
            top: 500px !important;
            transform: translateX(-52%) !important;
        }

        #whatDoing {
            transform: scale(.8);
        }

        .mealSection {
            background-color: #D9D9D9;
            width: 60%;
            height: 250px;
            border-radius: 20px !important;
            color: #0b0b0b;
            padding: 20px;
            display: flex;
            margin: 60px 0 40px 60px;
        }
        .mealSection img {
            width: 300px !important;
        }

        .mealDescrition p {
            font-size: 18px !important;
            margin-top: -20px;
        }

        #otherActivites {
            padding: 50px 100px 50px 100px !important;
        }

        #map .mapSection .gmap iframe {
            width: 400px !important;
            height: 430px !important;
        }
        .mapDetails .carousel-caption h5 {
            display: none;
        }
        #map {
            height: 700px !important;
        }

        .contacts::before {
            transform: scale(2) !important;
            bottom: 25px !important;
            right: 25px !important;

        }
        .contacts::after {
            transform: scale(2) !important;
            bottom: 50px !important;
            right: 50px !important;
        }
        .itemList::after {
            right: 10px !important;
            transform: scale(1) !important;
        }
        .slider-92911 {
            width: 100% !important;
            aspect-ratio: 2/1 !important;
            transform:  scale(.5) !important;
        }
    }
    
    
    /* Tablet desktop :768px. */
    @media (min-width: 768px) and (max-width: 991px) {
    
    }
    