
    /* Laptop 1024px */
    @media (min-width: 1024px) {

        .bannderBody {
            border-top-right-radius: 16% !important;
        }
        #banner img {
            top: 0 !important;
            transform: scale(.8) !important
        }
        .mapDetails {
            margin-right: -384px !important;
            position: relative;
        }
        .mapDetails .carousel-caption h5 {
            display: none;
        }
    }
    
    
    /* Tablet 768px. */
    @media (min-width: 768px) and (max-width: 1023px) {
        .bannderBody {
            border-top-right-radius: 0% !important;
        }
        #banner img {
             z-index: 99 !important;
             top: 0 !important;
        }
        .bannerText {
            text-align: center;
            width: 650px !important;
            -webkit-clip-path: none !important;
            clip-path: none !important;
            height: 600px !important;
            padding: 100px 30px 0px 50px !important;
        }

        .bannderBody {
            width: calc(100% - 120px) !important;
        }
        .bannerText .description {
            width: 90% !important;
            font-family: var(--font1);
            line-height: 25px;
            font-size: 15px;
            font-weight: 600;
        }

        #CountDown {

            width: 600px !important;
            top: 500px !important;
            transform: translateX(-52%) !important;
        }
    }
    
    
    /* Tablet desktop :768px. */
    @media (min-width: 768px) and (max-width: 991px) {
    
    }
    