body {
    text-align: center;
    padding: 70px 50px;
    background: #0D1A29;
    font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;
  }
  #timer {
    font-size: 3em;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 20px #48C8FF;
  }
  #timer div {
    display: inline-block;
    min-width: 90px;
  }
  #timer div span {
    color: #B1CDF1;
    display: block;
    font-size: 0.35em;
    font-weight: 400;
  }
  